# Config assertions
#
# NOTE: this is currently only supported by the openstack plugin.
#
# See https://docs.python.org/3/library/operator.html for valid operator
# methods.
#
# The optional "requires" field can be set to the name of a method that will be
# executed and return True or False. A return of True is required to allow the
# checks to be run.
#
openstack:
  nova-dpdk:
    requires: 'dpdk_enabled'
    path: etc/nova/nova.conf
    message: DPDK is enabled but rx_queue_size/tx_queue_size set incorrectly in nova.conf (expect both to be >= 1024)
    settings:
      rx_queue_size:
        section: libvirt
        value: 1024
        operator: ge
        allow-unset: False
      tx_queue_size:
        section: libvirt
        value: 1024
        operator: ge
        allow-unset: False
    
