# SPDX-License-Identifier: GPL-3.0-only

[Unit]
Description=Create final runtime dir for shutdown pivot root
Documentation=man:finalrd(1)
After=local-fs.target boot.mount boot.automount
Wants=local-fs.target
Conflicts=shutdown.target umount.target
DefaultDependencies=no

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/bin/finalrd

[Install]
WantedBy=sysinit.target
