# This is a templated file and must be kept up-to-date with the original
# from upstream at https://github.com/canonical/se-tooling-ci-common.
flake8==7.3.0
flake8-import-order==0.19.2
stestr
pylint==4.0.5
coverage
bashate
rpdb
yamllint==1.38.0
