[Unit]
Description=Mount unit for lxd, revision 22358
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/lxd_22358.snap
Where=/snap/lxd/22358
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
