job_name: 'kubernetes-cadvisor'
kubernetes_sd_configs:
- api_server: https://{{k8s_api_address}}:{{k8s_api_port}}
  role: node
  tls_config:
    ca_file: __placeholder__
  bearer_token: {{k8s_token}}
scrape_interval: 30s
scheme: https
tls_config:
  ca_file: __placeholder__
bearer_token: {{k8s_token}}
relabel_configs:
- action: labelmap
  regex: __meta_kubernetes_node_label_(.+)
- target_label: __address__
  replacement: {{k8s_api_address}}:{{k8s_api_port}}
- source_labels: [__meta_kubernetes_node_name]
  regex: (.+)
  target_label: __metrics_path__
  replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor
