[Unit]
Description=debconf communication service
Requires=pk-debconf-helper.socket
RefuseManualStart=true

[Service]
ExecStart=/usr/lib/packagekit/pk-debconf-helper
