ACTION!="add", GOTO="autosuspend_end"
SUBSYSTEM!="i2c|pci|usb", GOTO="autosuspend_end"

SUBSYSTEM=="i2c", GOTO="autosuspend_i2c"
SUBSYSTEM=="pci", GOTO="autosuspend_pci"
SUBSYSTEM=="usb", GOTO="autosuspend_usb"

# I2C rules
LABEL="autosuspend_i2c"
ATTR{name}=="cyapa", ATTR{power/control}="on", GOTO="autosuspend_end"
GOTO="autosuspend_end"

# PCI rules
LABEL="autosuspend_pci"
ATTR{vendor}=="0x8086", ATTR{device}=="0x590c", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x591e", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x1903", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9d2f", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9ded", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9d21", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9d23", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x095a", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x1911", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9d31", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9d3a", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9d4b", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9d24", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x02d3", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x02ef", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x0284", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x02e0", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x02f0", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x02a4", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x02ed", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9b41", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x02f9", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9b61", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x9b71", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x02b0", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x591c", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x2526", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x22b1", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x22dc", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x22b5", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x2284", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x22c8", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x22cc", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x229c", GOTO="autosuspend_enable"
ATTR{vendor}=="0x8086", ATTR{device}=="0x2280", GOTO="autosuspend_enable"
ATTR{vendor}=="0x144d", ATTR{device}=="0xa806", GOTO="autosuspend_enable"
ATTR{vendor}=="0x144d", ATTR{device}=="0xa808", GOTO="autosuspend_enable"
ATTR{vendor}=="0x14a4", ATTR{device}=="0x9100", GOTO="autosuspend_enable"
ATTR{vendor}=="0x7089", ATTR{device}=="0x5012", GOTO="autosuspend_enable"
ATTR{vendor}=="0x2646", ATTR{device}=="0x5008", GOTO="autosuspend_enable"
GOTO="autosuspend_end"

# USB rules
LABEL="autosuspend_usb"
ATTR{idVendor}=="1d6b", ATTR{idProduct}=="0001", GOTO="autosuspend_enable"
ATTR{idVendor}=="1d6b", ATTR{idProduct}=="0002", GOTO="autosuspend_enable"
ATTR{idVendor}=="1d6b", ATTR{idProduct}=="0003", GOTO="autosuspend_enable"
ATTR{idVendor}=="0424", ATTR{idProduct}=="3503", GOTO="autosuspend_enable"
ATTR{idVendor}=="05e3", ATTR{idProduct}=="0610", GOTO="autosuspend_enable"
ATTR{idVendor}=="8087", ATTR{idProduct}=="0024", GOTO="autosuspend_enable"
ATTR{idVendor}=="8087", ATTR{idProduct}=="8000", GOTO="autosuspend_enable"
ATTR{idVendor}=="04d8", ATTR{idProduct}=="0b28", GOTO="autosuspend_enable"
ATTR{idVendor}=="04f2", ATTR{idProduct}=="b1d8", GOTO="autosuspend_enable"
ATTR{idVendor}=="04f2", ATTR{idProduct}=="b262", GOTO="autosuspend_enable"
ATTR{idVendor}=="04f2", ATTR{idProduct}=="b2fe", GOTO="autosuspend_enable"
ATTR{idVendor}=="04f2", ATTR{idProduct}=="b35f", GOTO="autosuspend_enable"
ATTR{idVendor}=="04f2", ATTR{idProduct}=="b443", GOTO="autosuspend_enable"
ATTR{idVendor}=="04f2", ATTR{idProduct}=="b552", GOTO="autosuspend_enable"
ATTR{idVendor}=="058f", ATTR{idProduct}=="b001", GOTO="autosuspend_enable"
ATTR{idVendor}=="05c8", ATTR{idProduct}=="0351", GOTO="autosuspend_enable"
ATTR{idVendor}=="05c8", ATTR{idProduct}=="0355", GOTO="autosuspend_enable"
ATTR{idVendor}=="05c8", ATTR{idProduct}=="036e", GOTO="autosuspend_enable"
ATTR{idVendor}=="064e", ATTR{idProduct}=="d251", GOTO="autosuspend_enable"
ATTR{idVendor}=="0bda", ATTR{idProduct}=="571c", GOTO="autosuspend_enable"
ATTR{idVendor}=="13d3", ATTR{idProduct}=="5657", GOTO="autosuspend_enable"
ATTR{idVendor}=="1bcf", ATTR{idProduct}=="2c17", GOTO="autosuspend_enable"
ATTR{idVendor}=="2232", ATTR{idProduct}=="1013", GOTO="autosuspend_enable"
ATTR{idVendor}=="2232", ATTR{idProduct}=="1017", GOTO="autosuspend_enable"
ATTR{idVendor}=="2232", ATTR{idProduct}=="1033", GOTO="autosuspend_enable"
ATTR{idVendor}=="2232", ATTR{idProduct}=="1037", GOTO="autosuspend_enable"
ATTR{idVendor}=="2232", ATTR{idProduct}=="1056", GOTO="autosuspend_enable"
ATTR{idVendor}=="2232", ATTR{idProduct}=="6001", GOTO="autosuspend_enable"
ATTR{idVendor}=="5986", ATTR{idProduct}=="0299", GOTO="autosuspend_enable"
ATTR{idVendor}=="0489", ATTR{idProduct}=="e04e", GOTO="autosuspend_enable"
ATTR{idVendor}=="0489", ATTR{idProduct}=="e056", GOTO="autosuspend_enable"
ATTR{idVendor}=="0489", ATTR{idProduct}=="e09f", GOTO="autosuspend_enable"
ATTR{idVendor}=="0489", ATTR{idProduct}=="e0a2", GOTO="autosuspend_enable"
ATTR{idVendor}=="04ca", ATTR{idProduct}=="3006", GOTO="autosuspend_enable"
ATTR{idVendor}=="04ca", ATTR{idProduct}=="3016", GOTO="autosuspend_enable"
ATTR{idVendor}=="04ca", ATTR{idProduct}=="301a", GOTO="autosuspend_enable"
ATTR{idVendor}=="0bda", ATTR{idProduct}=="b00c", GOTO="autosuspend_enable"
ATTR{idVendor}=="0cf3", ATTR{idProduct}=="3004", GOTO="autosuspend_enable"
ATTR{idVendor}=="0cf3", ATTR{idProduct}=="3005", GOTO="autosuspend_enable"
ATTR{idVendor}=="0cf3", ATTR{idProduct}=="3007", GOTO="autosuspend_enable"
ATTR{idVendor}=="0cf3", ATTR{idProduct}=="311e", GOTO="autosuspend_enable"
ATTR{idVendor}=="0cf3", ATTR{idProduct}=="e300", GOTO="autosuspend_enable"
ATTR{idVendor}=="1286", ATTR{idProduct}=="2046", GOTO="autosuspend_enable"
ATTR{idVendor}=="1286", ATTR{idProduct}=="204e", GOTO="autosuspend_enable"
ATTR{idVendor}=="8087", ATTR{idProduct}=="07dc", GOTO="autosuspend_enable"
ATTR{idVendor}=="8087", ATTR{idProduct}=="0a2a", GOTO="autosuspend_enable"
ATTR{idVendor}=="8087", ATTR{idProduct}=="0aaa", GOTO="autosuspend_enable"
ATTR{idVendor}=="8087", ATTR{idProduct}=="0026", GOTO="autosuspend_enable"
ATTR{idVendor}=="8087", ATTR{idProduct}=="0025", GOTO="autosuspend_enable"
ATTR{idVendor}=="12d1", ATTR{idProduct}=="15bb", GOTO="autosuspend_enable"
ATTR{idVendor}=="2cb7", ATTR{idProduct}=="0007", GOTO="autosuspend_enable"
ATTR{idVendor}=="05e3", ATTR{idProduct}=="0727", GOTO="autosuspend_enable"
ATTR{idVendor}=="0bda", ATTR{idProduct}=="0138", GOTO="autosuspend_enable"
ATTR{idVendor}=="0bda", ATTR{idProduct}=="0136", GOTO="autosuspend_enable"
ATTR{idVendor}=="0bda", ATTR{idProduct}=="0177", GOTO="autosuspend_enable"
ATTR{idVendor}=="1050", ATTR{idProduct}=="0211", GOTO="autosuspend_enable"
ATTR{idVendor}=="1050", ATTR{idProduct}=="0200", GOTO="autosuspend_enable"
ATTR{idVendor}=="18d1", ATTR{idProduct}=="5026", GOTO="autosuspend_enable"
ATTR{idVendor}=="18d1", ATTR{idProduct}=="5025", GOTO="autosuspend_enable"
ATTR{idVendor}=="18d1", ATTR{idProduct}=="5029", GOTO="autosuspend_enable"
ATTR{idVendor}=="18d1", ATTR{idProduct}=="5034", GOTO="autosuspend_enable"
ATTR{idVendor}=="18d1", ATTR{idProduct}=="5033", GOTO="autosuspend_enable"
ATTR{idVendor}=="03eb", ATTR{idProduct}=="2433", GOTO="autosuspend_enable"
ATTR{idVendor}=="282b", ATTR{idProduct}=="48f0", GOTO="autosuspend_enable"
ATTR{idVendor}=="282b", ATTR{idProduct}=="0026", GOTO="autosuspend_enable"
ATTR{idVendor}=="0572", ATTR{idProduct}=="1a08", GOTO="autosuspend_enable"
ATTR{idVendor}=="05ac", ATTR{idProduct}=="110a", GOTO="autosuspend_enable"
GOTO="autosuspend_end"

# Enable autosuspend
LABEL="autosuspend_enable"
TEST=="power/control", ATTR{power/control}="auto", GOTO="autosuspend_end"

LABEL="autosuspend_end"

