[Unit]
Description=Mount unit for kube-controller-manager, revision 2407
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/kube-controller-manager_2407.snap
Where=/snap/kube-controller-manager/2407
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
