[Unit]
Description=Mount unit for kube-apiserver, revision 2599
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/kube-apiserver_2599.snap
Where=/snap/kube-apiserver/2599
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
