# MySQL Router systemd service file

[Unit]
Description=MySQL Router
After=network.target

[Service]
Type=forking
User=mysql
Group=mysql
RuntimeDirectory=mysql
ExecStart=/var/lib/mysql/{{ options.charm_instance.name }}/start.sh
ExecStop=/var/lib/mysql/{{ options.charm_instance.name }}/stop.sh
RemainAfterExit=yes
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
