name: Python package

on:
  push:
    branches:
  pull_request:
    branches:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.10"]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build package
        run: |
          git rev-parse --short HEAD > hotsos/.repo-info
          python -m pip install --upgrade pip
          python -m pip install build
          python -m build

      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: github.event_name == 'push' && github.ref_name == 'main' && matrix.python-version == '3.8'
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Upload Python package as CI artifact
        uses: actions/upload-artifact@v3
        with:
          name: Python Package (${{ matrix.python-version }})
          path: dist/*whl
